DATABASE_URL=postgresql://buberry_app:password@192.168.1.251:5432/buberry
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=citizen-science-photos
NEXT_PUBLIC_APP_URL=http://localhost:3000
